body {
    font-family: 'Roboto', sans-serif;
    background-color: #feffff
}

#image {
    border-style: outset;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.top {
    margin-top: 5px;
    text-align: center;
    margin-top: 35px;
}

.bottom {
    border-top: solid;
    border-bottom: solid;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#details {
    font-size: 18px;
    padding-left: 40px;
    margin-top: 50px;
}